CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003

#https://dashboard.stripe.com/test/dashboard
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel


# https://dashboard.stripe.com/acct_1S1L1m1GaIgJmpeo/test/workbench/webhooks/we_1S6b5V1GaIgJmpeognJGVDyo/events?attemptId=wc_1S6bcG1GaIgJmpeoYOkAnm6c
# Este es el signin secret
STRIPE_ENDPOINT_SECRET=

# VIDEO 8 CARPETA 12
AUTH_DATABASE_URL=mongodb+srv://amateod2_db_user:iQbTbdy2ucogD169@auth-ms-database.qgywrn5.mongodb.net/AuthDB

JWT_SECRET=supersecretkey

ORDERS_DATABASE_URL=